.footer {
    background-color: var(--primary-black);
    padding: 0 16px;
}

.footer-info-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-black);
    max-width: 1224px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 72px;
}

.footer-wrapper {
    display: flex;

}

.footer-logo-box {
    display: flex;
}

.footer-logo-one {
    background-image: url(../images/footer-campaign-logo.svg);
    Width: 40px;
    Height: 40px;

}

.footer-logo-two {
    background-image: url(../images/pollen-logo-white.svg);
    Width: 79px;
    Height: 12px;
    display: none;
}

.footer-nav {
    display: flex;

}

.footer-nav-arrow {
    display: none;
}

.footer-column {
    margin-left: 64px;
}

.footer-subtitle {
    margin-bottom: 16px;
}

.footer-list-item {
    margin-bottom: 8px;
}

.footer-contacts-box {
    display: flex;
    justify-content: flex-end;
}

.footer-contacts-item {
    display: flex;
}

.footer-contacts-item a {
    max-width: 239px;
}

.footer-tel {
    background-image: url(../images/Phone.svg);
    display: block;
    flex-direction: row;
    width: 18px;
    height: 18px;
    background-size: cover;
    margin-right: 12px;
}

.footer-mail {
    background-image: url(../images/Message.svg);
    display: block;
    flex-direction: row;
    width: 16px;
    height: 14px;
    background-size: cover;
    margin-right: 12px;
}

.footer-address {

    background-image: url(../images/Pin.svg);
    display: block;
    flex-direction: row;
    width: 14px;
    height: 16px;
    background-size: cover;
    margin-right: 12px;

}

.footer-copiriting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1224px;
    margin: 0 auto;
    padding: 32px 0;
}

.footer-copiriting-list {
    display: flex;
    gap: 40px;
}

.footer-copiriting-conditions {
    display: flex;
    gap: 38px;
}

.footer-linked-logo {
    background-image: url(../images/logos_linkedin.svg);
    width: 64px;
    height: 16px;
    display: block;

}


@media (max-width: 1124px) {
    .footer-info-box {
        display: flex;
        flex-direction: column;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-subtitle {
        text-align: start
    }

}

@media (max-width: 760px) {

    .footer-info-box,
    .footer-copiriting {
        max-width: 340px;
        margin: 0 auto;
    }

    .footer-info-box {
        padding-top: 40px;
        padding-bottom: 0px;
        border-bottom: 0px;
    }

    .footer-logo-box {
        margin-bottom: 26px;
    }

    .footer-logo-two {
        display: flex;
        position: relative;
        top: 14px;
        left: 8px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;

    }

    .footer-column {
        margin: 0;
        padding-top: 50px;
        border-bottom: 1px solid var(--footer-line);
    }

    .teh {
        padding-top: 0;
    }

    .footer-contacts-line {
        padding-top: 50px;
        border-bottom: 1px solid var(--footer-line);
        padding: 16px 0;
        width: 100%;
    }

    .footer-list {
        display: none;
    }

    .footer-contacts {
        align-items: start;
        margin-top: 32px;

    }

    .footer-copiriting {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

    }

    .footer-subtitle {
        display: flex;
        justify-content: space-between;

    }

    .footer-nav-arrow {
        display: flex;
        background-image: url(../images/arrow-down-white.svg);
        width: 24px;
        height: 26px;
        margin-left: 20px;
        position: relative;
        top: -2px;
    }

    .footer-copiriting-list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 16px;
    }

    .footer-copiriting-technologis {
        border-bottom: 1px solid var(--footer-line);
        padding-bottom: 16px;
    }

    .footer-copiriting-wrapper {
        width: 100%;
    }
}